$burgundy: #7C3851;
$burgundyDarkBorder: #7D2545;
$burgundyLightBorder: #774F5E;
$yellow: #C3BE66;

$navHeight: 63px; 

///////////
$viewport-small-min: 34em;
$viewport-small-max: 47.9999999em;

$viewport-medium-min: 48em;
$viewport-medium-max: 61.9999999em;

$viewport-large-min: 62em;
$viewport-large-max: 74.9999999em;
$viewport-xlarge-min: 75em;
